@charset "UTF-8";
html {
	box-sizing:border-box;
}
* {
    box-sizing:inherit;
  } 

body {
  font-family: 'PT Serif', serif;
  font-size: 100%;
  background-color: white;
  line-height: 1.5em;
  margin: 0;/* resets margins for entire documents */
}

h1 {
	padding-top: 1em;
	font-family: 'Ropa Sans', sans-serif;
	text-align: center;
	color:#212529;
}
h2 {
  position: absolute;
  font-family: 'Jaldi', sans-serif;
  color: #783F27;
  text-transform: uppercase;
  border-left: solid 1px;
  border-bottom: solid 1px;
  background: #E9ECEF;
  width: 10%;
  top: 8px;
  right: 8px;
}
}

section {
	background-color:#FDEBD0;
}
	
.one {
	background-color:#F1948A;
}
.two {
	background-color:#AED6F1;
}
.three {
	background-color:#A9DFBF;
}

@media (min-width: 992px){
    section {
  	    width: 33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
	section {
		width: 50%;
	}
}

@media (max-width: 767px) {
	section {
		width: 100%;
	}
}
