
* {
	box-sizing:border-box;
}


body {
  font-family: 'PT Serif', serif;
  font-size: 100%;
  margin: 0;
  padding: 0; 
}

h1 {
	padding-top: .5em;
	font-family: 'Ropa Sans', sans-serif;
	text-align: center;
	margin-bottom: 1em;
	color:#212529;
}

section {
	background-color: #FDEBD0;
	position:relative;
	width: 100%;
	overflow: none;
	border: 1px solid black;
	padding: 1em;
	margin:2.5%;
}

.content {
  position: relative;
  clear: left;
  width: 90%;	
  overflow: auto;
}

.title-name {
        overflow: none;
	text-align: center;
	text-transform: uppercase;
	padding: .2em;
	float: right;
	margin-right: .2em;
	margin-top: 0;
	font-weight: bold;
	font-family: 'Jaldi', sans-serif;
        border: 1px solid black;
        width: 30%;
        height: 20%;	
	position: relative;
}
.one {
	background-color:#F1948A;
}
.two {
	background-color:#AED6F1;
}
.three {
	background-color:#A9DFBF;
}

/********** large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  .three{
    margin-right: 65px;
    width: 100px;
  }
}

/********** small devices only **********/
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;

  }
}
