
* {
	box-sizing:border-box;
}


body {
  font-family: 'PT Serif', serif;
  font-size: 100%;
  margin: 0;
  padding: 0; 
}

h1 {
	padding-top: .5em;
	font-family: 'Ropa Sans', sans-serif;
	text-align: center;
	margin-bottom: 1em;
	color:#212529;
}
h2 {
  font-family: 'Jaldi', sans-serif;
  border: 1px solid black;
  width: 30%;
  height: 20%;	
}

.row{
  margin: 2%;
}
section {
	background-color: #FDEBD0;
	position:relative;
	width: 100%;
	overflow: none;
	border: 1px solid black;
	padding: 1em;
	margin:.5em;
}
	
.one {
	overflow: none;
	background-color:#F1948A;
	text-align: center;
	padding: .2em;
	float: right;
	margin-right: .2em;
	margin-top: 0;
	font-weight: bold;
	position: relative;
}
.two {
	overflow: none;
	background-color:#AED6F1;
	text-align: center;
	padding: .2em;
	float: right;
	margin-right: .2em;
	margin-top: 0;
	font-weight: bold;
	position: relative;
}
.three {
	overflow: none;
	background-color:#A9DFBF;
	text-align: center;
	padding: .2em;
	float: right;
	margin-right: .2em;
	margin-top: 0;
	font-weight: bold;
	position: relative;
}

/********** large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  #three{
    margin-right: 1em;
    margin-top:1em;
    width: 100%;
  }	  
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  
  }
}

/********** small devices only **********/
@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
  .h2 {
    margin-right: 30px;
  }
}
