* {
  box-sizing:border-box;
}

body {
  font-family: 'PT Serif', serif;
  font-size: 150%;
  margin: 0;
  padding: 0; 
}

header{
  background: #6c757d;
}

h1 {
  padding-top: .5em;
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
  margin-bottom: 1em;
  color:#212529;
}

h2 {
  font-family: 'Jaldi', sans-serif;
  color: #6c757d;
}

h3 {
  font-family: 'Jaldi', sans-serif;
  font-size: 2em;
  letter-spacing: .2em;
  color: #7A0002;
  margin-top: 1em;
} 

#main-content {
  background-color: #FDAA71;
}
