* {
  box-sizing:border-box;
}

body {
  font-family: 'PT Serif', serif;
<<<<<<< HEAD
=======
  font-size: 150%;
>>>>>>> 9c823fef737509f398e16023e34efe457bb8b70e
  margin: 0;
  padding: 0; 
}

<<<<<<< HEAD
#header-nav {
  background: #6c757d;
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FDAA71;
}
#header-nav button {
    margin-top: 2%;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    margin-top: 10px;
    padding-top: 0;
=======
header{
  background: #6c757d;
>>>>>>> 9c823fef737509f398e16023e34efe457bb8b70e
}

h1 {
  padding-top: .5em;
  font-family: 'Ropa Sans', sans-serif;
  text-align: center;
  margin-bottom: 1em;
<<<<<<< HEAD
  font-weight: bold;
  font-size:1.2em;
  color:#212529;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

=======
  color:#212529;
}

>>>>>>> 9c823fef737509f398e16023e34efe457bb8b70e
h2 {
  font-family: 'Jaldi', sans-serif;
  color: #6c757d;
}

h3 {
  font-family: 'Jaldi', sans-serif;
<<<<<<< HEAD
  font-size: .8em;
=======
  font-size: 2em;
>>>>>>> 9c823fef737509f398e16023e34efe457bb8b70e
  letter-spacing: .2em;
  color: #7A0002;
  margin-top: 1em;
} 

#main-content {
<<<<<<< HEAD
  width: 90%;
=======
>>>>>>> 9c823fef737509f398e16023e34efe457bb8b70e
  background-color: #FDAA71;
}
